.card {
  width: 95%;
  margin: 1rem auto;
  height: 95vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  display: grid;
  grid-template-columns: 21% auto;
  border:1px solid blue;
  overflow:hidden;
}

@media all and (max-width: 1200px) {
  .card {
    width: 100%;
    margin: 0;
    height: 100vh;
    grid-template-columns: 1fr;
  }
}
