.list_container {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  z-index: 4;
  max-height: 79vh;
}
.list_container::-webkit-scrollbar {
  width: 6px;
  background:#D9D9D9;
}

.list_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: red;
  height: 50px;
}

.list_items {
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-inline: auto;
  z-index: 0;
  padding-inline:2.5rem;
  color:#000;
  font-weight:bold;
  font-size:1.3rem;
  display:flex;
  align-items:center;
  gap:1rem;
  border-radius:12px;
}

.list_items:nth-child(1) {
  margin-top: 1rem;
}

.selected {
  background: #2F2F2F2B;
}
.list_items:hover {
  background: #2F2F2F2B;
  cursor: pointer;
}
.list_items:hover:after {
  top: 0;
}
